// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$grey: #000;
$form_borders: 1px solid black;
$form_background_color: rgba(0, 0, 0, 0.5);


@mixin box_container_form {
	width: 20em;
	background-color: $grey;
	border: $form_borders;
	margin: auto;
	text-align: center;
	color: white;
	padding: 5px;
	font-size: 18px;
	height: auto;
	text-shadow: 2px 2px 4px #000;
}	

#cityInfo{
	@include box_container_form();
	background-color: $form_background_color;
		h1{
			padding-bottom: 10px;
		}
}
p{
    font-size: 18px !important; 
}
#addpostbutton{
    color: #000;  
}
#editingcity {
    @include box_container_form();
	background-color: $form_background_color;
    
}
#indexcity{
   
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	
	color: white;
	padding: 5px;
	font-size: 18px;
	text-shadow: 2px 2px 4px #000;
    a{
    color: chartreuse;
}
}
#newcity{
     @include box_container_form();
	background-color: $form_background_color;
    
}
