@import 'sessions';

#newuser{
	@include box_container_form();
	background-color: $form_background_color;
	height: 30em;
	margin-bottom: 80px;
}
.user_information{
	color: black;
	@include box_container_form();
	background-color: $form_background_color;
	height: 24em;
	margin-bottom: 80px;
}