@import 'sessions';

#newuser{
	@include box_container_form();
	background-color: $form_background_color;
	height: 33em;
	margin-bottom: 80px;
    
}
li{
    list-style-type: none;

}


.user_information{
	color: black;
	@include box_container_form();
	background-color: $form_background_color;
	padding: 15px;
	margin-bottom: 80px;
    
}
p{
    font-size: 18px;
}
.field {
    color:#000;
    text-shadow: 0px 0px 2px #FFF;
}
.actions{
    color: #000;
}
#showuser{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    color:white;
    a{
        color: chartreuse;
    }
   
}
thead tr th{
    padding: 15px;
    font-size: 18px;
        
}